<p>
  <%= form_for Item.new, html: { class: 'form-inline' } do |f| %>
    <div class='form-group'>
      <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.text_field :price, placeholder: 'Price', type: 'number', class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.text_field :quantity, placeholder: 'Quantity', type: 'number', class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.text_field :shelf_life_days, placeholder: 'Expires in (days)', type: 'number', class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.select :category, @category_list, {include_blank: true}, class: 'form-control' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>
