<p> <%= flash[:error] %> </p>

<%= render 'form' %>

<%= render 'categories/form' %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
  <% @valid_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td>$<%= Money.us_dollar(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= item.expires %></td>
    </tr>
  <% end %>
  </tbody>
</table>
